{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/ama.css' %}">
{% endblock %}

{% block body %}
<div class="row" id="content">
	<div class="col-md-6 text-center" id="ama">
		<iframe id="amaframe" class="center-block" src="//www.ustream.tv/embed/20200651?wmode=direct&autoplay=1&showtitle=false" style="border: 0 none transparent; left: 0"  webkitallowfullscreen allowfullscreen frameborder="no" width="640" height="379"></iframe>
		<h1>Talking next is Dirtybit with FunRun</h1>
		<h5>Creating a viral application, March 24st, 6pm GMT</h5>
		<button type="button" class="btn btn-cta btn-lg" data-toggle="modal" data-target="#save-spot-modal">Save your spot!</a>
	</div>
	<div class="col-md-6" id="questions-column"></div>
</div>

<div class="modal fade" id="save-spot-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Save your spot</h4>
			</div>
			<form id="save-spot-form">
				<div class="modal-body">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-envelope-o fa-fw"></i>
						</span>
						<input type="email" name="email" class="form-control" placeholder="josh.parker@gmail.com" />
						{% csrf_token %}
					</div>
					<p class="text-success" style="display: none;">Spot saved</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="savespot">Save spot</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
	$(function() {
		$.ajaxSetup({
			beforeSend: function(xhr) {
				xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
			}
		});

		$('#save-spot-form').submit(function(e) {
			e.preventDefault();
			$.post('/ajax/save_spot/', $(this).serializeArray(), function(data) {
				if (data.content.success) {
					$('.text-success').show();
				}
			});
		});
	});
</script>
<script src="{% static 'js/ustream.js' %}"></script>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="{% static 'js/bundle.min.js' %}"></script>
{% endblock %}