{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/ama.css' %}">
{% endblock %}

{% block body %}
<div class="row" id="content">
	<div class="col-md-6 text-center" id="ama">
		<iframe id="amaframe" class="center-block" src="//www.ustream.tv/embed/20200651?wmode=direct&autoplay=1&showtitle=false" style="border: 0 none transparent; left: 0"  webkitallowfullscreen allowfullscreen frameborder="no" width="640" height="379"></iframe>
		<h1>Talking next is Dirtybit with FunRun</h1>
		<h5>Creating a viral application, March 24st, 6pm GMT</h5>
		<a href="#" class="btn btn-cta btn-lg">Save your spot!</a>
	</div>
	<div class="col-md-6" id="questions-column">
		<h1>Ask <strong>your</strong> questions</h1>
		<div class="container-colored-line">
			<hr class="colored-line">
			<div class="add-colored-line"></div>
		</div>
		<ul class="question-list">
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Nick Carlington</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							141
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
			<li class="question-list-item">
				<div class="row">
					<div class="question-img col-xs-1"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class="img-circle img-responsive"></div>
					<div class="col-xs-10">
						<div class="question-header"><a href="#">Per Kristian</a></div>
						<div class="question-body">
							<p className="question-text">Love the game, still playing the old FunRun. I'm currently in the making of an application, how did you decide on which platforms to develop for, and what distributionchannels is critical for gathering early user feedback?.</p>
						</div>
					</div>
					<div class="col-xs-1">
						<span class="icon">
							<i class="fa fa-fw fa-thumbs-up"></i>
						</span>
						<span class="vote-up">
							8
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/ustream.js' %}"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript">
<script>
	$(function() {
		var viewer = UstreamEmbed('amaframe');

		var onEmbedEvent = function(event, data) {
			if (event == 'live')
				viewer.callMethod('play');
		}

		$('#fiskekake').click(function(e) {
			viewer.callMethod('pause');
		});

		viewer.addListener('ready', onEmbedEvent);
		viewer.addListener('quality', onEmbedEvent);
		viewer.addListener('live', onEmbedEvent);
		viewer.addListener('offline', onEmbedEvent);
		viewer.addListener('playing', onEmbedEvent);
		viewer.addListener('finished', onEmbedEvent);
		viewer.addListener('size', onEmbedEvent);
		viewer.addListener('content', onEmbedEvent);
	});
</script>
<script src="{% static 'js/bundle.min.js' %}"></script>
{% endblock %}