{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md 2"></div>
		<div class="col-md-10" id='video-out' style="height: 600px;">
			Hey fuck you
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://cdn.pubnub.com/pubnub-3.6.3.min.js"></script>
<script src="http://stephenlb.github.io/webrtc-sdk/js/webrtc.js"></script>
<script>
	$(function() {
		var phone = PHONE({
			number: '1234',
			publish_key: 'pub-c-e249f1a8-8541-40fb-a40c-4dffceca0f04',
			subscribe_key: 'sub-c-07e3d388-c5d5-11e4-9ffe-02ee2ddab7fe',
		});

		phone.ready(function() {
			$('#video-out').append(phone.video);
		});

		phone.receive(function(session) {
			console.log('got call', session);
		});

	});
</script>
{% endblock %}