{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/host.css' %}">
{% endblock %}

{% block body %}
{% include "navigation.html" %}
<div style="margin-top: 75px;" class="container-fluid" id="content">
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default" style="background-color: #f1f1f1">
				<div class="panel-body">
					<h1 class="title">Incoming questions</h1>
					<div class="container-colored-line">
						<hr class="colored-line" />
						<div class="add-colored-line"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h1 class="title">Want to answer</h1>
							<div class="container-colored-line">
								<hr class="colored-line" />
								<div class="add-colored-line"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h1 class="title">Answered questions</h1>
							<div class="container-colored-line">
								<hr class="colored-line" />
								<div class="add-colored-line"></div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	window.host_id = '{{ host.id }}';
</script>
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="{% static 'js/host.min.js' %}"></script>
{% endblock %}