{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
{% include "navigation.html" %}
<div id="main-content" class="bg-blue">
	<div id="home">
		<div class="row row-padding">
			<div class="row top-row">
				<h1 class="main-title">Nicolaj Broby Petersen from Dirtybit</h1>
				<p class="subtext text-center">
					Creating a viral application
				</p>
				<div class="col-xs-12">
					<iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/VsW4-Udar30" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<p class="description">
								How finished should my product be before launch?
							</p>
							<p class="description">If you have a limited amount of resources dedicated to social media interaction, is it important to be visible on all platforms?</p>
							<p class="description">What other word-of-mouth channels than twitter were significant, and do you believe twitter was the most important?</p>
							<p class="description">Did/do you use rapid prototyping when developing Fun Run?</p>
							<p class="description">Did you do any things that did not scale easily after the release of FunRun?</p>
							<p class="description">When did you start monetizing?</p>
							<p class="description">How did you work with retention?</p>
							<p class="description">How important is Facebook for your marketing?</p>
							<p class="description">Did you use anything you learned in school when developing Fun Run(from NTNU), or did you learn the most yourself?</p>
							<p class="description">What is the most important thing you have learned from the Fun Run "adventure"?</p>
							<p class="description">How do you define "viral"? Was the explosive growth of Fun Run controlled in some way, or were you guys just lucky?</p>
							<p class="description">You used to bring prototypes of FunRun to parties to hear what people had to say, did you do any other "manual" recruiting?</p>
							<p class="description">How long did it take for Fun Run to take off?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}