#content {
	height: 100vh;
}

#ama {
	padding-top: 15px;
	padding-bottom: 35px;
	background-color: #3498db;
	height: 100%;
}

#ama h1, #ama h1 a {
	padding-top: 25px;
	color: white;
	line-height: 5.1rem;
	font-size: 3.5rem;
	opacity: .9;
}

#ama h5 {
	margin: 0 0 40px;
	color: white;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 400;
	opacity: .75;
}

#ama .btn-cta {
	background: #124466;
	border: 1px solid white;
	color: white;
}

#ama img {
	border: 2px solid white;
}

#amaframe {
	padding-top: 15px;
	padding-left: 25px;
}

#questions-column {
	height: 100%;
	overflow-y: scroll;
	padding-top: 15px;
	padding-bottom: 0px;
	background-color: #f1f1f1;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#questions-column h1 {
	text-align: center;
	color: #888;
	margin: 0;
}

.question-input {
	padding-bottom: 15px;
}

.question-input textarea {
	resize: none;
}

.question-list {
	list-style: none;
	margin-bottom: 0;
}

.question-list li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #B3A9A9;
}

.question-list li.faded {
	opacity: 0.3;
}

.question-list li.current-question {
	color: green;
	border-bottom: 1px solid black;
}

.question-list {
	color: #777;
	padding-left: 5px;

}

em.description {
	padding-bottom: 0;
}

.question-list-item .col-sm-1 {
	padding-left: 0;
}

.question-input {
	resize: none;
}

.question-img {
	padding-left: 5px;
	padding-right: 5px;
}

.question-list i {
	color: #3498db;
	font-size: 2rem;
	margin-bottom: 5px;
}

.question-list i.green {
	color: green;
}

.vote-up {
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
}

.fa-ban {
	color: #777 !important;
}

@media (max-width: 1000px) {
	#ama {
		height: auto !important;
	}

	#content {
		height: auto;
	}

	#questions {
		height: auto;
	}

	#questions-column {
		height: auto;
		overflow-y: hidden;
	}
}

@media (max-width: 1300px) {
	#amaframe {
		width: 480px;
		height: 302px;
	}
}

@media (max-width: 991px) {
	#amaframe {
		width: 640px;
		height: 379px;
	}
}