#home .img-responsive {
	border: 5px solid white;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#home .top-row {
	padding-top: 80px;
	padding-bottom: 30px;
}

#home .top-row h1 {
	font-size: 3em;
}

#home .btn-cta {
	background: #124466;
	border: 1px solid white;
	color: white;
}

#home .btn-cta-second {
	background: #3498db;
	border: 1px solid white;
	color: white;
	margin-left: 10px;
}

#home .background-solid {
   padding: 50px 0 0;
   padding-bottom: 50px;
   background: #3498db;
}

.main-title {
	text-align: center;
    margin: 0 0 5px;
    color:white;
    line-height: 5.1rem;
    opacity: .9;
}

#home .background-solid h1 strong {
    opacity: 1;
}

#home .background-solid h5 {
    color:white;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    opacity: .75;
    line-height: 1.8;
}

#home .event-title {
	font-size: 2.1em !important;
    font-weight: 600 !important;
    opacity: 1 !important;
    width: 70%;
}

#home .event-title span {
	font-weight: 300 !important;
}

.event-txt {
	border-left: 1px solid #3498db;
}

#subscribe, #about {
	background: #f1f1f1;
}

#feedback, #previous-sessions {
	background: white;
}

#feedback h1, #subscribe h1, #about h1, #previous-sessions h1 {
	text-align: center;
	color: #888;
	opacity: 0.9;
	margin-bottom: 10px;
	display: block;
}

.input-wrapper {
	position: relative;
	width: 400px;
	height: auto;
	margin: 0 auto 20px;
	display: block;
	border-radius: 7px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

.input-startup, .input-email {
	width: 70%;
	padding-left: 15px;
	padding-right: 64px;
	height: 45px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #black;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	position: relative;
	margin-left: -4px;
	border: 1px solid #888;
}

.send-startup, .send-email {
	background: #124466;
	position: relative;
	margin-left: -4px;
	height: 45px;
	width: 30%;
	border: none;
	cursor: pointer;
	font-family: 'Roboto';
	font-weight: 400;
	color: white;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	float: right;
}

input:focus {
	outline: none;
}

#atedrop1 {
	margin-left: 15px;
	background: #3498db;
	border: 1px solid white;
	color: white !important;
	font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    opacity: 0.9;
}