{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Engage with proven entrepreneurs">
	<meta name="keywords" content="Startup, startups, connect startup, learn startup, engage startup">
	<meta name="author" content="talkingnext">
	<meta name="image" content="{% static 'img/presentation.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<meta property="og:url" content="http://talkingnext.io">
	<meta property="og:title" content="Live video AMA with proven entrepreneurs">
	<meta property="og:description" content="Engage with proven entrepreneurs. You ask, they answer you on live video.">
	<meta property="og:site_name" content="talkingnext.io">
	<meta property="og:image" content="http://talkingnext.io/static/img/presentation.png">
	<meta property="og:type" content="website">
	  
	<!-- Add title to your website -->
	<title>Talking next - is Bram from Startup Stash</title>

	<!-- Connect the html files to css files -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
		 
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="img/favicon.png">

	<!-- Linking to online google font Roboto -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	{% block head %}
	{% endblock %} 
</head>
<body>
	{% block body %}
	{% endblock %}

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("ed07db27d3f7ffb3fc27aa3b4673f67e");</script><!-- end Mixpanel -->

	<script>
		$(function() {
			if ('{{ user.is_authenticated }}' == 'True') {
				mixpanel.identify('{{user.twitter_id}}');
			}
		});
	</script>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/550effeb059b265f54264ddd/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script type="text/javascript" src="{% static 'js/hello.min.js' %}"></script>
<script>
	function doLogin(success, error) {
		var twitter = hello('twitter');
		twitter.login().then(function(r) {
			return twitter.api('me');
		})
		.then(function(profile) {
			$.post("/ajax/login/", {twitter_id: profile.id, screen_name: profile.screen_name, avatar: profile.thumbnail.replace('normal', 'bigger')}, function(data) {
				if (data.content.authenticated) {
					if (data.content.created) {
						mixpanel.people.set({
							$name: profile.screen_name,
							$created: new Date(),
						});
						mixpanel.alias(profile.id);
					}
					else {
						mixpanel.identify(data.content.id);
					}
					success(data.content);
				}
				else {
					error(data);
				}
			});
		});
	}

	$(function() {
		hello.init({
			'twitter': '01JeqEqGVqdR8lkVjvipWhQMN',
		}, {
			redirect_uri: '/redirect/',
		});

		$('#a-login').click(function(e) {
			e.preventDefault();
			doLogin(function(profile) {
				window.location = "{% url 'profile' %}";
			});
		});

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		function sameOrigin(url) {
		    // test that a given url is a same-origin URL
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
		            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
		        }
		    }
		});
	});
</script>

	{% block scripts %}
	{% endblock %}
</body>
