{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block body %}
<div id="main-content">
	{% include "navigation.html" %}
	<div id="home">
		<div class="row background-solid">
			<div class="row top-row">
				<h1 class="main-title">Proven entrepreneurs answer <strong>your</strong> questions</h1>
				<p class="subtext text-center">
					You ask, they answer you on live video.<a href="{% url 'talking_next_is' %}" class="btn btn-cta-second">Preview</a>
				</p>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-xs-6" style="padding-top: 25px">
					<img src="{% static 'img/featuring/startupstash.png' %}" class="img-responsive pull-right" alt="Bram Startup Stash">
				</div>
				<div class="col-sm-7 col-xs-12">
					<div class="row">
						<h5 class="event-title"><span>Next session:</span>How to successfully build and launch an MVP</h5>
					</div>
					<div class="row">
						<h5 style="width: 60%" class="">Creator of <strong>Startup Stash</strong>, Bram Kanstein, got 150.000 page views in 24 hours, and was no. 1 listed on Product Hunt. Join the live video session with Bram to get your questions answered. </br><strong>April 1st, 8pm GMT</strong></h5>
					</div>
					<div class="row">
						<a href="{% url 'talking_next_is' %}" class="btn btn-cta btn-lg">Join the AMA</a>
						<div title="Add to Calendar" class="addthisevent">
							Add to Calendar
							<span class="start">04/01/2015 8:00 PM</span>
							<span class="end">03/24/2015 20:45 PM</span>
							<span class="timezone">Europe/Paris</span>
							<span class="title">StartupStash is talkingnext.io</span>
							<span class="description">Ask Bram about creating a viral application</span>
							<span class="location">talkingnext.io</span>
							<span class="organizer">Bram and startupstash</span>
							<span class="organizer_email">martin@talkingnext.io</span>
							<span class="date_format">MM/DD/YYYY</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="previous-sessions">
		<div class="row-padding">
			<h1>Previous session</h1>
			<div class="container-colored-line">
				<hr class="colored-line" />
				<div class="add-colored-line"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-3">
					<img src="{% static 'img/featuring/nicolaj.png' %}" alt="" class="img-responsive img-rounded" />
				</div>
				<div class="col-sm-6">
					<p class="description">
						Nicolaj, founder of Dirtybit, the company behind Fun Run got 45M players worldwide. He spent 30 minutes answering questions about <strong>creating a viral application</strong>. There were awesome questions, and awesome answers.
					</p>
					<a href="" class="btn btn-primary btn-lg">View past session</a>
				</div>
			</div>
		</div>
	</div>
	<div id="about">
		<div class="row-padding">
			<h1>What is <strong>talkingnext</strong></h1>
			<div class="container-colored-line">
				<hr class="colored-line" />
				<div class="add-colored-line"></div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="{% static 'img/presentation.png' %}" height="250" style="padding-left: 50px;" alt="" class="pull-right" />
				</div>
				<div class="col-md-6">
					<p class="description">To be the best, you need to learn from the best. Talkingnext brings you successful entrepreneurs from all around the world who has accomplished something great. Now, they want to pay it forward to the next great success. <br /><br />So get on it, ask your questions - they answer you live on video.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="feedback">
		<div class="row-padding">
			<h1>Who should be <strong>talking next</strong>?</h1>
			<div class="container-colored-line">
				<hr class="colored-line">
				<div class="add-colored-line"></div>
			</div>
			<em class="description text-center center-block">Nominate the entrepreneur you would like to see on talkingnext</em>
			<form action="" id="talking-next-form" class="input-wrapper">
				{% csrf_token %}
				<input type="text" class="input-startup" name="host" placeholder="Airbnb" required>
				<input type="submit" class="send-startup" value="Send">
			</form>
			<p class="text-success text-center" style="display: none;">We're on it! Leave your email so we can notify you!</p>
		</div>
	</div>

	<div id="subscribe">
		<div class="row-padding">
			<h1>Get notified when <strong>inspiring</strong> entrepreneurs are talking next</h1>
			<div class="container-colored-line">
				<hr class="colored-line">
				<div class="add-colored-line"></div>
			</div>
			<form action="" id="notify-me-form" class="input-wrapper">
				{% csrf_token %}
				<input type="email" class="input-email" name="email" placeholder="josh.parker@gmail.com">
				<input type="submit" class="send-email" value="Notify me!">
			</form>
		</div>
		<div class="social row text-center">
			<a href="http://www.twitter.com/talkingnext_io" target="_blank">
				<a href="https://twitter.com/talkingnext_io" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @talkingnext_io</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</a>
		</div>
		<p class="text-center text-muted">
			Talk to us at 
			<a href="mailto:martin@talkingnext.io">martin@talkingnext.io</a></br>
		© 2015, talkingnext.io - All rights resered</p>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
<script>
	$(function() {
		addthisevent.settings({
			css: true,
			google : {show:true, text:"Google Calendar"},
		});
		mixpanel.track('Landing page')
		$('#talking-next-form').submit(function(e) {
			e.preventDefault();
			$.post('ajax/talkingnext/', $(this).serializeArray(), function(data) {
				if (data.content.success) {
					mixpanel.track("Suggested Talking next");
					$('.text-success').show();
				}
			});
		});

		$('#notify-me-form').submit(function(e) {
			e.preventDefault();
			var that = $(this);
			$.post('ajax/subscribe/', that.serializeArray(), function(data) {
				if (data.content.success) {
					$('#subscribe').fadeOut(500);
					mixpanel.track("Notified");
				}
				else
					console.log(data);
			});
		});

		$('.img-responsive').on('click', function() {
			mixpanel.track('Clicked Fun Run Image');
		});

		mixpanel.track_links('.btn-cta', 'Clicked main CTA');
		mixpanel.track_links('.btn-cta-second', "Click second CTA");
	});

</script>

{% endblock %}