{% extends "base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block body %}
<div id="main-content">
	{% include "navigation.html" %}
	<div id="home">
		<div class="row background-solid">
			<div class="row top-row">
				<h1 class="main-title">Proven entrepreneurs answer <strong>your</strong> questions</h1>
				<p class="subtext text-center">
					You ask, they answer you on live video.<a href="{% url 'talking_next_is' %}" class="btn btn-cta-second">Preview</a>
				</p>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-xs-6" style="padding-top: 25px">
					<img src="{% static 'img/featuring/fortified.jpg' %}" class="img-responsive pull-right" alt="Fortified Bicycle - Tivan">
				</div>
				<div class="col-sm-7 col-xs-12">
					<div class="row">
						<h5 class="event-title"><span>Next session:</span> Launching a successful kickstarter campaign</h5>
					</div>
					<div class="row">
						<h5 style="width: 60%" class="">Founder of <strong><a href="http://fortifiedbike.com" style="color: white;" target="_blank">Fortified Bicycle</a></strong>, Tivan Amour, has some great insight on kickstarter campaigns.<br />
						1st campaign: pledged for <strong>$18 000</strong>, got <strong>$84 728</strong>.<br />
						2nd campaign: pledged for <strong>$24 000</strong>, got <strong>$177 266</strong>.<br />
						3rd and running: pledged for <strong>$8000</strong>, already received <strong>$13 395</strong> with 48 days to go.<br />
						Check it out <a style="color: white;" href="https://www.kickstarter.com/projects/gotham/fortified-we-caught-a-bike-thief-this-is-payback" target="_blank"><strong>here</strong></a></br>
						<strong>April 16th, 3PM EST / 7PM GMT</strong></h5>
					</div>
					<div class="row">
						<a href="{% url 'talking_next_is' %}" class="btn btn-cta btn-lg">Join the AMA</a>
						<div title="Add to Calendar" class="addthisevent">
							Add to Calendar
							<span class="start">16/04/2015 09:00 PM</span>
							<span class="end">16/04/2015 09:30 PM</span>
							<span class="timezone">Europe/Paris</span>
							<span class="title">Fortified Bicycle is talkingnext.io</span>
							<span class="description">Ask Tivan about launching a successful kickstart campagn</span>
							<span class="location">talkingnext.io</span>
							<span class="organizer">Fortified Bicycle and talkingnext</span>
							<span class="organizer_email">martin@talkingnext.io</span>
							<span class="date_format">MM/DD/YYYY</span>
						</div>
					</div>
					{% comment %}
					<div class="row">
						<div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-5">
							<img src="{% static 'img/featuring/marius.jpg' %}" class="img-rounded img-responsive" alt="" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="subtext">Who should be talking next?</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<form action="" class="input-wrapper talking-next-form">
								{% csrf_token %}
								<input type="text" class="input-startup" placeholder="Airbnb" name="host"/>
								<input type="submit" class="send-startup" value="Send" />
							</form>
						</div>
					</div>
					<div class="row">
						<p class="subtext text-center text-success" style="display: none;">We're on it! Leave your email so we can notify you!</p>
					</div>
					{% endcomment %}
				</div>
			</div>
		</div>
	</div>

	<div id="previous-sessions">
		<div class="row-padding">
			<h1>Previous session</h1>
			<div class="container-colored-line">
				<hr class="colored-line" />
				<div class="add-colored-line"></div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1 col-md-2 col-md-offset-3">
					<img src="{% static 'img/featuring/rajsingh.png' %}" alt="" class="img-responsive img-rounded" />
				</div>
				<div class="col-xs-8 col-md-6">
					<p class="description">
						Founder of Dronecast, Raj Singh, dropped out of school to pursue his dream. Dronecast has already become a million dollar company in less than one year. There were awesome questions, and awesome answers.
					</p>
					<a href="{% url 'archive' %}" class="btn btn-primary btn-lg">View past sessions</a>
				</div>
			</div>
		</div>
	</div>
	<div id="about">
		<div class="row-padding">
			<h1>What is <strong>talkingnext</strong></h1>
			<div class="container-colored-line">
				<hr class="colored-line" />
				<div class="add-colored-line"></div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<img src="{% static 'img/presentation.png' %}" height="250" style="padding-left: 50px;" alt="" class="pull-right" />
				</div>
				<div class="col-xs-6">
					<p class="description">To be the best, you need to learn from the best. Talkingnext brings you successful entrepreneurs from all around the world who has accomplished something great. Now, they want to pay it forward to the next great success. <br /><br />So get on it, ask your questions - they answer you live on video.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="feedback">
		<div class="row-padding">
			<h1>Who should be <strong>talking next</strong>?</h1>
			<div class="container-colored-line">
				<hr class="colored-line">
				<div class="add-colored-line"></div>
			</div>
			<em class="description text-center center-block">Nominate the entrepreneur you would like to see on talkingnext</em>
			<form action="" class="input-wrapper talking-next-form">
				{% csrf_token %}
				<input type="text" class="input-startup" name="host" placeholder="Airbnb" required>
				<input type="submit" class="send-startup" value="Send">
			</form>
			<p class="text-success text-center" style="display: none;">We're on it! Leave your email so we can notify you!</p>
		</div>
	</div>

	<div id="subscribe">
		<div class="row-padding">
			<h1>Get notified when <strong>inspiring</strong> entrepreneurs are talking next</h1>
			<div class="container-colored-line">
				<hr class="colored-line">
				<div class="add-colored-line"></div>
			</div>
			<form action="" id="notify-me-form" class="input-wrapper">
				{% csrf_token %}
				<input type="email" class="input-email" name="email" placeholder="josh.parker@gmail.com" />
				<input type="submit" class="send-email" value="Notify me!" />
			</form>
		</div>
	</div>
	<div id="hostsection">
		<div class="row-padding">
			<h1>Do <strong>you</strong> want to host a session?</h1>
			<div class="container-colored-line">
				<hr class="colored-line">
				<div class="add-colored-line"></div>
			</div>
			<form action="" id="host-session-form" class="input-wrapper">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" name="startup" placeholder="Your startup" />
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="josh.parker@gmail.com" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
<footer style="background-color: #f1f1f1;">
	<div class="social row text-center">
		<a href="http://www.twitter.com/talkingnext_io" target="_blank">
			<a href="https://twitter.com/talkingnext_io" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @talkingnext_io</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</a>
	</div>
	<p class="text-center text-muted">
		Talk to us at 
		<a href="mailto:martin@talkingnext.io">martin@talkingnext.io</a></br>
	© 2015, talkingnext.io - All rights resered</p>
</footer>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script>
	$(function() {
		addthisevent.settings({
			css: true,
			google : {show:true, text:"Google Calendar"},
		});
		mixpanel.track('Landing page')
		$('.talking-next-form').submit(function(e) {
			e.preventDefault();
			$.post('/ajax/talkingnext/', $(this).serializeArray(), function(data) {
				if (data.content.success) {
					mixpanel.track("Suggested Talking next");
					$('.text-success').fadeIn(200);
				}
			});
		});

		$('#notify-me-form').submit(function(e) {
			e.preventDefault();
			var that = $(this);
			$.post('/ajax/subscribe/', that.serializeArray(), function(data) {
				if (data.content.success) {
					$('#subscribe').fadeOut(500);
					mixpanel.track("Notified");
				}
				else
					console.log(data);
			});
		});

		$('#host-session-form').submit(function(e) {
			e.preventDefault();
			var formdata = $(this).serializeArray();
			mixpanel.track('Will host session', {
				'startup': formdata[1].value,
				'email': formdata[2].value
			});
			var $btn = $(this).find('button');
			var parent = $btn.parent();
			$btn.fadeOut(500, function() {
				parent.html("<p class='text-success'>Awesome! We'll be in touch.");
			});
		});

		$('.img-responsive').on('click', function() {
			mixpanel.track('Clicked Fun Run Image');
		});

		mixpanel.track_links('.btn-cta', 'Clicked main CTA');
		mixpanel.track_links('.btn-cta-second', "Click second CTA");
	});

</script>

{% endblock %}